# node / pnpm
node_modules/
.pnpm-store/
pnpm-lock.yaml

# builds
dist/
build/
.out/
.next/

# env & secrets (DO NOT COMMIT)
.env
.env.*
!/.env.example
secrets/
*.pem

# OS/editor
.DS_Store
*.log
coverage/
